{% extends "layout.html" %}

{% block body %}
		<!-- <p class="text-danger">{{ state }}</p> -->

		<script>
			var step = 0;
			var message = "Converting";
			var str = message;

			function convert_clicked() {
				setInterval(update_text, 1000)
			}

			function update_text() {
				str = str + ".";
				step += 1;
				if (step > 3) {
					str = message
					step = 0
				}
				document.getElementById("status").innerHTML = str;
			}
		</script>

		{% if state == "valid_link" %}
			<h2 class="text-light">{{ video.title }}</h2>
			<img src="{{ video.thumbnail_url }}" class="img-fluid img-thumbnail w-50 h-50">
			<br>
			<a class="btn btn-primary btn-lg" href="{{ download_url }}" role="button" download>Download</a>

		{% else %}
			{% if state == "invalid_link" %}
				<p id = "error" class="text-danger">Invalid Link!</p>
			{% endif %}

			<form style="margin:auto; width:80%" action="/" method="post">
			  <div class="form-group d-flex justify-content-center">
			    <input name="url" type="text" class="form-control" placeholder="Paste your link here">
			    <button id="convert_button" onclick="convert_clicked()"type="submit" class="btn btn-primary">Convert</button>
			  </div>
			</form>

			<p id="status" class="text-success"></p>
		{% endif %}
{% endblock %}
