{% extends "layout.html" %}

{% block body %}
		<!-- <p class="text-danger">{{ state }}</p> -->

		<script>
			var step = 0;
			var message = "Converting";
			var str = message;

			function convert_clicked() {
				setInterval(update_text, 1000)
			}

			function update_text() {
				str = str + ".";
				step += 1;
				if (step > 3) {
					str = message
					step = 0
				}
				document.getElementById("status").innerHTML = str;
			}
		</script>

		{% if state == "valid_link" %}
			˚<!-- DOWNLOAD PAGE -->
			<div class="d-grid gap-2 col-10 mx-auto">
				<p class="text-light">"<b>{{ video.title }}</b>"</p>
				<img style="margin: auto;" src="{{ video.thumbnail_url }}" class="img-fluid">
				<a class="btn btn-lg bg-color" href="{{ download_url }}" role="button" download>Download</a>
			</div>

		{% else %}
			<!-- INDEX PAGE -->
			{% if state == "invalid_link" %}
				<p id = "error" class="text-danger">Invalid Link!</p>
			{% endif %}

			<form style="margin:auto; width:80%" action="/" method="post">
			  <div class="form-group d-flex justify-content-center">
			    <input name="url" type="text" class="form-control" placeholder="Paste your link here">
			    <button id="convert_button" onclick="convert_clicked()"type="submit" class="btn bg-color">Convert</button>
			  </div>
			</form>

			<p id="status" class="text-success"></p>
		{% endif %}
{% endblock %}
